<head>
   <title>Forgot password</title>
</head>
<section class="container-fluid bg">
   <section class="row justify-content-center">
      <section class="col-12 col-sm-6 col-md-3">
         <form (ngSubmit)="createSecurityCode()"  [formGroup]="loginForm" class="was-validated">
            <div class="register">Forgot Password</div>
            {{msg}}
            <div class="form-group">
              <label for="validationDate" class="form-label" >Username</label>
              <input class="form-control" id="validationTextarea" type="text"  formControlName="username"
               required>
               <div class="invalid-feedback"> Please enter Username</div>
            </div>
            <button type="submit" class="btn-block button" id="submit" 
            >
               Send email
            </button>
            <div class="form-group">
               <label for="validationDate" class="form-label" >SecurityCode</label>
               <input class="form-control" id="validationTextarea" type="text"  formControlName="securitycode"
                required>
                <div class="invalid-feedback"> Please enter SecurityCode</div>
             </div>
             <div class="form-group">
               <label for="validationDate" class="form-label" >New Password</label>
               <input class="form-control" id="validationTextarea" type="password"  formControlName="newPass"
                required>
                <div class="invalid-feedback"> Please enter SecurityCode</div>
             </div>
             

            <input type="button" (click)="changepassword()" value="Update Password"
            [disabled]="loginForm.invalid" class="btn-block button" id="submit"
           > 
        
              
            
           </form>
      </section>
   </section>

   </section>








